<!DOCTYPE html>
<html lang="fr" ng-app="AppModule">
<head>
    <title>Ajouter un produit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../Config/app.js"></script>
    <script src="js/javanous/create_product.js"></script>
    <meta charset="utf-8">
</head>
<body ng-app="AppModule">
<div class="container">
    <div ng-controller="formCtrl">
        <h2 class="text-center text-primary">Ajouter produit</h2>
        <hr>
        <form name="createProductForm" class="form-horizontal well form-search">
            <div class="form-group">
                <label for="produit_nom" class="col-sm-2 control-label">Nom du produit</label>
                <div class="col-sm-10">
                    <input ng-model="produit_nom" type="text" class="form-control" id="produit_nom" required>
                </div>
            </div>
            <div class="form-group">
                <label for="produit_description" class="col-sm-2 control-label">Description du produit</label>
                <div class="col-sm-10">
                    <textarea ng-model="produit_description" class="form-control" id="produit_description" rows="3"
                              required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="produit_prix" class="col-sm-2 control-label">Prix du produit</label>
                <div class="col-sm-10">
                    <input ng-model="produit_prix" type="number" id="produit_prix" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="produit_photo" class="col-sm-2 control-label">Photo du produit</label>
                <div class="col-sm-10">
                    <input ng-model="produit_photo" type="text" id="produit_photo" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <label for="produit_stock" class="col-sm-2 control-label">Stock</label>
                <div class="col-sm-10">
                    <input ng-model="produit_stock" type="number" id="produit_stock" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
                <table>
                    <tr>
                        <td>
                            <label for="produit_valeur_unite" class="col-sm-2 control-label">Quantité de chaque
                                lot</label>
                        </td>
                        <td>
                            <input ng-model="produit_valeur_unite" type="number" id="produit_valeur_unite"
                                   placeholder="1, 2..." required>
                        </td>
                        <td>
                            <label for="produit_unite" class="col-sm-2 control-label">Unité du produit</label>
                        </td>
                        <td>
                            <input ng-model="produit_unite" type="text" id="produit_unite"
                                   placeholder="Kg, L, barquette..." required>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <label for="produit_categorie_id" class="col-sm-2 control-label">Catégorie du produit</label>
                <div class="col-sm-10">
                    <input ng-model="produit_categorie_id" type="text" id="produit_categorie_id" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" ng-click="formsubmit(createProductForm.$valid)"
                            ng-disabled="createProductForm.$invalid"
                            class="btn btn-primary">Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>