<body ng-app="AppModule">

<div class="container-fluid">
    <nav class="navbar navbar-default" style=" height: 100px; color:#000000">
        <!-- Brand and toggle get grouped for better mobile display  -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" style="background-color: #c4e3f3">Menu
            </button>
            <div class="logo">
                <h1><a href="index.php"><img height="165" width="116" src="images/logo_litte.png" alt="LOGO"/></a>
                </h1>
            </div>
        </div>

        <div class="collapse navbar-collapse nav-wil" ng-controller="formSearchCtrl" id="bs-example-navbar-collapse-1">
            <nav>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="inscription.php"><?php if (!isset($_SESSION['pseudo'])) echo "S'inscrire"; ?></a>
                    </li>
                    <li>
                        <a href="identification.php"><?php if (!isset($_SESSION['pseudo'])) echo "Se connecter"; ?></a>
                    </li>
                    <li><a href="affichage_prod.php"><?php if (isset($_SESSION['pseudo'])) echo "Profil"; ?></a>
                    </li>
                    <li>
                        <a href="../Controleur/deconnexion.php"><?php if (isset($_SESSION['pseudo'])) echo "Se deconnecter"; ?></a>
                    </li>
                    <li style="margin-top:15px;">
                        <?php //Connection avec la BDD.
                            $mysqli = mysqli_connect("localhost", "root", "", "Pomme");
                            mysqli_set_charset($mysqli, "utf8");
                            $request = mysqli_query($mysqli, "SELECT * FROM departement");
                            $request1 = mysqli_query($mysqli, "SELECT * FROM categorie");
                        ?>

                        <form name="SearchForm">
                            <select name="cboDept" ng-model="item.cboDept">
                                <option value="" selected> Département</option>
                                <?php while ($donnees = mysqli_fetch_array($request)) { ?>

                                <option name="departement"
                                        value="<?php echo $donnees['departement_id']; ?>"><?php echo $donnees['departement_nom']; ?></option>
                                <?php } ?>

                            </select>


                            <select name="categorie" ng-model="item.categorie" hint="Produit">
                                <option value="" selected> Produit</option>
                                <?php while ($donnees = mysqli_fetch_array($request1)) { ?>
                                <option name="categorie"
                                        value="<?php echo $donnees['categorie_id']; ?>"><?php echo $donnees['categorie_nom']; ?></option>
                                <?php } ?>
                            </select>
                            <?php
                                mysqli_close($mysqli); //deconnection de mysql ?>
                    </li>
                    <li style="margin-top:15px;margin-left:10px;">
                        <button type="button" ng-click="formsubmit(item.cboDept,item.categorie)"
                                ng-disabled="SearchForm.$invalid" class="btn btn-primary">Recherche
                        </button>
                    </li>
                    </form>
                </ul>
            </nav>
        </div>
    </nav>
</div>
</body>
